.white-bg {
  --background: #ffffff;
}

ion-list {
  background: #ffffff;
}


ion-progress-bar[color="custom-blue"] {
  --progress-background: #727cf5; 
}

.main-title {
  font-weight: 700;
  font-size: 1.3rem;
  color: white;
}

.icon-circle {
  background: #f0f2ff;
  border-radius: 50%;
  width: 46px;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 12px;

  ion-icon {
    font-size: 24px;
    color: #727cf5;
  }
}

.row-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.cat-name {
  font-weight: 600 !important;
  font-size: 1.05rem !important;
  color: #333;
}

.bar-container {
  width: 70px; 
  ion-progress-bar {
    height: 6px;
    border-radius: 10px;
    --background: #eeeeee;
  }
}

.cat-info {
  font-size: 0.88rem !important;
  color: #7a7a7a !important;
  margin-top: 2px;
}

.category-item {
  --background: #ffffff;
  --min-height: 85px;
  --padding-start: 16px;
  --border-color: #f2f2f2;
}

.custom-fab {
  --background: #727cf5;
  --box-shadow: 0 4px 12px rgba(114, 124, 245, 0.4);
  
  ion-icon {
    font-size: 30px;
  }
}