<ion-content class="config-content">
  <div class="config-container">
    <div class="config-card">

      <h1>Configuración</h1>

      <div class="avatar-wrapper" (click)="triggerFileInput()">
        <img [src]="profileImage" alt="Foto perfil" class="avatar-img" />
        <div class="camera-badge">
          <ion-icon name="camera-outline"></ion-icon>
        </div>
      </div>
      <p class="avatar-hint">Toca para cambiar foto</p>
      <input id="file-input" type="file" (change)="onFileSelected($event)" accept="image/*" style="display:none">

      <div class="user-info">
        <h2>{{ userName }}</h2>
        <p>{{ userEmail }}</p>
      </div>

      <div class="form-group">
        <ion-label>Nombre</ion-label>
        <ion-input class="custom-input" [(ngModel)]="editNombre" placeholder="Nombre"></ion-input>
      </div>

      <div class="form-group">
        <ion-label>Apellido</ion-label>
        <ion-input class="custom-input" [(ngModel)]="editApellido" placeholder="Apellido"></ion-input>
      </div>

      <div class="form-group">
        <ion-label>Correo</ion-label>
        <ion-input class="custom-input" [(ngModel)]="editCorreo" type="email" placeholder="Correo"></ion-input>
      </div>

      <ion-button expand="block" class="btn-primary" (click)="guardarCambios()">
        Guardar cambios
      </ion-button>

      <div class="divider"></div>

      <ion-button expand="block" class="btn-logout" (click)="logout()">
        Cerrar sesión
      </ion-button>

    </div>
  </div>
</ion-content>