:host {
  --bg-black: #050505;
  --card-grey: #121212;
  --accent-blue: #3880ff;
  display: block;
}

ion-content {
  --background: var(--bg-black);
}

.profile-section {
  padding-top: 30px;
  
  .avatar-container {
    position: relative;
    width: 110px;
    margin: 0 auto 15px;

    ion-avatar {
      width: 150px;
      height: 150px;
      border: 4px solid #1e1e1e;
      box-shadow: 0 4px 15px rgba(0,0,0,0.5);
    }

    .edit-badge {
      position: absolute;
      bottom: 5px;
      right: 5px;
      background: var(--accent-blue);
      color: white;
      border-radius: 50%;
      padding: 7px;
      display: flex;
      z-index: 2;
    }
  }
}

.custom-item {
  --background: var(--card-grey);
  --color: white;
  --border-radius: 12px;
  margin-bottom: 10px;
  border: 1px solid #1e1e1e;
  
  ion-icon[slot="start"] {
    color: var(--accent-blue);
  }
}

.logout-item {
  --background: rgba(255, 68, 97, 0.1);
  --color: #ff4461;
  --border-radius: 12px;
  margin-top: 20px;
  border: 1px solid rgba(255, 68, 97, 0.2);

  ion-icon {
    color: #ff4461;
  }

  ion-label {
    font-weight: bold;
  }
}

/* MODO ESPECIAL: Detecta la clase en el body */
:host-context(body.special-mode) {
  --accent-blue: #00e5ff;
  
  ion-content {
    --background: radial-gradient(circle at top, #001a1e 0%, #050505 100%);
  }

  .custom-item {
    border: 1px solid rgba(0, 229, 255, 0.4);
    --background: #002b30;
  }

  .avatar-container ion-avatar {
    border-color: #00e5ff;
  }
}

.large-header {
  color: #666;
  font-size: 0.8rem;
  letter-spacing: 1px;
  font-weight: bold;
  margin-bottom: 5px;
}