<ion-content class="welcome-bg">
  <div class="welcome-container">
    <div class="logo">
      <ion-img src="assets/logo-app.png" alt="GestiónApp"></ion-img>
    </div>
    
    <div class="welcome-content">
      <h1>Bienvenido a GestiónApp</h1>
      <p>Organiza tus finanzas, GestiónApp y alcanza tus metas económicas.</p>
    </div>

    <div class="welcome-buttons">
      <ion-button expand="block" fill="solid" class="btn-primary" (click)="goLogin()">
        Iniciar sesión
      </ion-button>
      
      <ion-button expand="block" fill="clear" class="btn-secondary" (click)="goRegister()">
        Crear cuenta
      </ion-button>
    </div>
  </div>
</ion-content>
