<ion-header class="ion-no-border">
  <ion-toolbar color="white">
    <ion-title>Mi Presupuesto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bg-white">
  
  <h2 class="main-title">Progreso</h2>

  <ion-grid>
    <ion-row>
      @for (cat of presupuestos; track cat.nombre) {
        <ion-col size="6">
          <ion-card class="budget-card">
            <ion-item lines="none">
              <ion-icon [name]="cat.icon" slot="start"></ion-icon>
              <ion-icon 
                [name]="cat.gastado > cat.total ? 'alert-circle-outline' : 'checkmark-circle-outline'" 
                [color]="cat.gastado > cat.total ? 'danger' : 'primary'"
                slot="end">
              </ion-icon>
            </ion-item>
            <ion-card-content>
              <p class="category-name">{{cat.nombre}}</p>
              <div class="price-box">
                <span class="spent-amount">${{cat.gastado}}</span>
                <span class="total-amount"> de ${{cat.total}}</span>
              </div>
              <ion-progress-bar [value]="cat.gastado / cat.total"></ion-progress-bar>
            </ion-card-content>
          </ion-card>
        </ion-col>
      }
    </ion-row>
  </ion-grid>

  <div class="transactions-section">
    <h2 class="main-title">Recientes</h2>
    <ion-list lines="full">
      @for (t of transacciones; track t.comercio) {
        <ion-item>
          <ion-avatar slot="start">
            <div class="icon-circle"><ion-icon [name]="t.icon"></ion-icon></div>
          </ion-avatar>
          <ion-label>
            <h3>{{t.comercio}}</h3>
            <p>{{t.categoria}}</p>
          </ion-label>
          <ion-note slot="end" class="amount">{{t.monto | currency}}</ion-note>
        </ion-item>
      }
    </ion-list>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="crearPresupuesto()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>