<ion-content class="login-content">
    <div class="login-container">
        <div class="login-card">
            <h1>Recuperar Contraseña</h1>

            <div class="form-group">
                <ion-label>Correo electrónico</ion-label>
                <ion-input type="email" placeholder="ejemplo@correo.com" class="custom-input"
                    [(ngModel)]="correo"></ion-input>
            </div>

            <div class="form-group">
                <ion-label>Nueva contraseña</ion-label>
                <ion-input type="password" placeholder="********" class="custom-input"
                    [(ngModel)]="nuevaContrasena"></ion-input>
            </div>

            <div class="form-group">
                <ion-label>Confirmar contraseña</ion-label>
                <ion-input type="password" placeholder="********" class="custom-input"
                    [(ngModel)]="confirmarContrasena"></ion-input>
            </div>

            <div class="error-text" *ngIf="errorMsg">{{ errorMsg }}</div>

            <ion-button expand="block" class="btn-primary" (click)="resetPassword()" [disabled]="loading">
                <ion-spinner *ngIf="loading" name="crescent"></ion-spinner>
                <span *ngIf="!loading">ACTUALIZAR CONTRASEÑA</span>
            </ion-button>

            <div class="links-container">
                <a class="forgot-password" (click)="goToLogin()">Volver al inicio de sesión</a>
            </div>
        </div>
    </div>
</ion-content>